version: '3.8'
services:
    scaffold-build:
        extends:
            file: docker-compose-common.yml
            service: scaffold-build

    frontend-build:
        extends:
            file: docker-compose-common.yml
            service: frontend-build

    #scaffold-deploy:
    #    build:
    #        context: .
    #        dockerfile: Dockerfile.Node
    #    command: yarn deploy --network optimismSepolia
    #    volumes:
    #        - ./smartcontracts:/workspace
    #    env_file:
    #        - .env

    #scaffold-next:
    #    build:
    #        context: .
    #        dockerfile: Dockerfile.Node
    #    command: yarn start
    #    volumes:
    #        - ./smartcontracts:/workspace
    #    ports:
    #        - '3000:3000'
    #    depends_on:
    #        scaffold-deploy:
    #            condition: service_completed_successfully

    frontend-serve:
        build:
            context: .
            dockerfile: Dockerfile.Node
        command: yarn dev
        volumes:
            - ./frontend:/workspace
        ports:
            - '3333:3333'
        depends_on:
            frontend-build:
                condition: service_completed_successfully
        env_file:
            - .env

    #offchain:
    #    build:
    #        context: .
    #        dockerfile: Dockerfile.Python
    #    command: python3 main.py
    #    volumes:
    #        - ./offchain:/workspace
    #        - ./smartcontracts/packages/hardhat/deployments:/deployments
    #    depends_on:
    #        scaffold-deploy:
    #            condition: service_completed_successfully
    #    env_file:
    #        - .env
